<div class="formContainer">
  <div class="deleteConfirmationContainer">
    <div class="deleteConfirmationPopup">
    <p>Are you sure you want to delete the <strong><%=@task.name%></strong> task?</p>
    <div class="popupActions">
      <button id="deleteConfirm">
        <%= link_to "Delete!", task_path(@task), method: :delete%>
      </button>
      <button id="deleteCancel">
        Not Quite
      </button>
    </div>
    </div>
  </div>
  <div class="categoryForm">
    <h1 id="formHeading">Edit Task</h1>
    <%= render "form", category: @category, task: @task %>
    <button class='deleteButton'>Delete</button>
    <%= link_to "Back to Task", [@category, @task] , class:"alternateAction" %>
  </div>
</div>
<%= javascript_pack_tag 'delete_popup'%>