<header class='nonLanding'>
  <img src="<%= image_path('logoIcon.svg')%>" id="logoIcon"><h2>&nbsp;| Today</h2>
</header>
<div id="tasksProper">
  <h2 id="headingNotMobile">Today</h2>
  <%today_count = 0%>
  <% @tasks.each do |task| %>
    <%if task.is_finished%>
      <%next%>
    <%end%>
    <%today_count+=1%>
    <%categoryID = task.category_id%>
    <%category = Category.where(id: categoryID).pluck(:name)%>
    <%= link_to category_task_path(categoryID, task), :action => 'go' do%>
      <div class="taskCard">
        <p id="deadline">DUE ON: <%=task.deadline%></p>
        <h3><%=task.name%></h3>
        <%=task.details%>
        <%if task.details==""%>
          <em>No details provided.</em>
        <%end%>
        <br>
        <%= link_to category_path(categoryID), data: { turbolinks: 'false'} do%><button id="categoryTag"><%=category[0]%></button><%end%>
        <button id="<%= task.is_finished ? 'finishedTag' : 'notFinishedTag' %>">
          <%if task.is_finished%>
            <%="✅ Finished"%>
          <%else%>
            <%="⌛ Unfinished"%>
          <%end%>
        </button>
      </div>
    <%end%>
  <%end%>
  <%if today_count ==0 %>
    <div id="emptyStateDiv">
      <img src="<%= image_path('emptyState.png')%>" id="emptyState">
      <h2>Yay! All done!</h2>
    </div>
  <%end%>
</div>
<nav id="sideNav">
  <img src="<%= image_path('logoIcon.svg')%>" id="logoIcon">
  <img src="<%= image_path('logoType.svg')%>" id="logoType">
  <div id="tasksToday" class="navActions">
    <img src="/svgs/todayActive.svg" class="navIcon">
    <span>&nbsp;&nbsp;Today</span>
  </div>
  <%= link_to tasks_path, :action => 'go' do%>
    <div id="myTasks" class="navActions">
      <img src="/svgs/tasksInactive.svg" class="navIcon">
      <span>&nbsp;&nbsp;Tasks</span>
    </div>
  <%end%>
  <%= link_to new_task_path, :action => 'go' do%>
    <div id="newTask" class="navActions">
      <img src="/svgs/newTask.svg" class="navIcon" id="newTaskIcon">
    </div>
  <%end%>
  <%= link_to categories_path, :action => 'go' do%>
    <div id="tasksToday" class="navActions">
      <img src="/svgs/categoriesInactive.svg" class="navIcon">
      <span>&nbsp;&nbsp;Categories</span>
    </div>
  <%end%>
  <%= link_to profile_path, :action => 'go' do%>
    <div id="tasksToday" class="navActions">
      <img src="/svgs/profileInactive.svg" class="navIcon">
      <span>&nbsp;&nbsp;Profile</span>
    </div>
  <%end%>
  <button id="newTaskNotMobile" class="navActions">
    <h3><%= link_to "New Task", new_task_path %></h3>
  </button>
</nav>
<nav>
  <div id="tasksToday" class="navActions">
    <img src="/svgs/todayActive.svg" class="navIcon">
  </div>
  <%= link_to tasks_path, :action => 'go' do%>
    <div id="myTasks  " class="navActions">
      <img src="/svgs/tasksInactive.svg" class="navIcon">
    </div>
  <%end%>
  <%= link_to new_task_path, :action => 'go' do%>
    <div id="newTask" class="navActions">
      <img src="/svgs/newTask.svg" class="navIcon" id="newTaskIcon">
    </div>
  <%end%>
  <%= link_to categories_path, :action => 'go' do%>
    <div id="tasksToday" class="navActions">
      <img src="/svgs/categoriesInactive.svg" class="navIcon">
    </div>
  <%end%>
  <%= link_to profile_path, :action => 'go' do%>
    <div id="tasksToday" class="navActions">
      <img src="/svgs/profileInactive.svg" class="navIcon">
    </div>
  <%end%>
</nav>