<div id="loginForm">
  <div id="loginCosmetic">
    <img src="<%= image_path('/svgs/logoType_w.svg')%>" id="userLogo">
    <img src="<%= image_path('loginHero.png')%>" class="userHero">
    <h2>Welcome back!</h2>
    <span>Illustration from <a href="https://icons8.com/">icons8.com</a></span>
  </div>
  <div id="loginProper">
    <div id="realForm">
      <img src="<%= image_path('/svgs/logoType.svg')%>">
      <h2>Log in to Journalr</h2>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <div class="actions">
          <%= f.submit "Log In", id:"loginSubmit"%>
        </div>
        <%= link_to "Don't have an account yet?", new_user_registration_path, class:"alternateUser" %>
      <% end %>
    </div>
  </div>
</div>
