<header class='nonLanding'>
  <img src="<%= image_path('logoIcon.svg')%>" id="logoIcon"><h2>&nbsp;| Categories</h2>
</header>
<div id="categoriesProper">
  <h2 id="headingNotMobile">Categories</h2>
  <% @categories.each do |category| %>
    <div class="categoryCard">
      <h3><%= link_to category.name, category, data: { turbolinks: 'false'}%></h3>
    </div>
  <%end%>
  <button id="addCategory">
    <h3><%= link_to "Add Category", new_category_path %></h3>
  </button>
</div>
<nav id="sideNav">
  <img src="<%= image_path('logoIcon.svg')%>" id="logoIcon">
  <img src="<%= image_path('logoType.svg')%>" id="logoType">
  <%= link_to today_path, :action => 'go' do%>
    <div id="tasksToday" class="navActions">
      <img src="/svgs/todayInactive.svg" class="navIcon">
      <span>&nbsp;&nbsp;Today</span>
    </div>
  <%end%>
  <%= link_to tasks_path, :action => 'go' do%>
    <div id="myTasks" class="navActions">
      <img src="/svgs/tasksInactive.svg" class="navIcon">
      <span>&nbsp;&nbsp;Tasks</span>
    </div>
  <%end%>
  <%= link_to new_task_path, :action => 'go' do%>
    <div id="newTask" class="navActions">
      <img src="/svgs/newTask.svg" class="navIcon" id="newTaskIcon">
    </div>
  <%end%>
  <div id="tasksToday" class="navActions">
    <img src="/svgs/categoriesActive.svg" class="navIcon">
    <span>&nbsp;&nbsp;Categories</span>
  </div>
  <%= link_to profile_path, :action => 'go' do%>
    <div id="tasksToday" class="navActions">
      <img src="/svgs/profileInactive.svg" class="navIcon">
      <span>&nbsp;&nbsp;Profile</span>
    </div>
  <%end%>
  <button id="newTaskNotMobile" class="navActions">
    <h3><%= link_to "New Task", new_task_path %></h3>
  </button>
</nav>
<nav>
  <%= link_to tasks_path, :action => 'go' do%>
    <div id="tasksToday" class="navActions">
      <img src="/svgs/todayInactive.svg" class="navIcon">
    </div>
  <%end%>
  <%= link_to tasks_path, :action => 'go' do%>
    <div id="myTasks  " class="navActions">
      <img src="/svgs/tasksInactive.svg" class="navIcon">
    </div>
  <%end%>
  <%= link_to new_task_path, :action => 'go' do%>
    <div id="newTask" class="navActions">
      <img src="/svgs/newTask.svg" class="navIcon" id="newTaskIcon">
    </div>
  <%end%>
  <div id="tasksToday" class="navActions">
    <img src="/svgs/categoriesActive.svg" class="navIcon">
  </div>
  <%= link_to profile_path, :action => 'go' do%>
    <div id="tasksToday" class="navActions">
      <img src="/svgs/profileInactive.svg" class="navIcon">
    </div>
  <%end%>
</nav>